
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
 padding: 0px; 
 margin: 0px;  
 box-sizing: border-box;
}
/* depois de zerar começamos com a interfase*/
:root{
font-size: 62,5%;
--nav-bg-color:#23232e;
--nav-text-color: white;
/* --nav-button: rgb(255, 255, 255); */
/* --nave-clic: rgb(55, 0, 255); */ 

/*definir variaveis para button*/

}

ul{  
    display: flex; 
    list-style: none; /*tirar as bolinhas*/
    gap: 3rem; /*insere espaço entre eles*/   
}
button{
    
    padding: 1rem 2,7rem;
    background-color:#23232e;
    color: white;
    border-radius: 0.8rem; /*arendondar cantos*/
}
a{
    /* Para arrumar as opçoes do cabeçalho */
    text-decoration: none;
    color: white;
}

.fdr{
    /* rodapé */

   background-color:#23232e;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.TextoGPT{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 800px;
    height: 220px;
    border: 2px solid #23232e;
    display: flex;
}



h2 {
    /* texto para o cliente */
    text-align: center;
    font-size: 17px; /*tamanho da letra*/
    padding: 1rem; /*tamanho do espaço disponivel*/
    margin-bottom: 2rem; 
    /* background-color: rgba(1, 241, 81, 0.877);
    color: black; */
    height: 10rem; /*espaço entre o login*/
}
label{
    margin-top: 1rem; /*espaço entre as opções de login*/
}
/* tamanho das opções */
form{
    max-width: 70rem; /*area do login*/
    margin: auto;
    margin-top: 40px;
    padding: 1rem; 
    border: 6px solid ;
    color: white;
    border-radius: 1rem;
    display: flex; 
    flex-direction: column;
    gap: 0,5rem;
    background-color: #23232e;
}
input{
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 0.5rem;
}
.button2{
    padding: 1rem 1,6rem;
    /* background-color:cornflowerblue; */  
    color: blue;
    border-radius: 0.8rem; /*arendondar cantos*/
}