@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Sora&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-bottom: 80px;
}

.vitrine {
    display: block;
    margin: 50px auto;
    max-width: 80%;
    text-align: center;
    width: 100%;
}

.vitrine2 {
    display: block;
    max-width: 80%;
    text-align: center;
    width: 100%;
}

body {
    background: #ffffff; 
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.product-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
    font-style: normal;
}
@media (max-width: 991px) {
    .product-list {
        flex-wrap: wrap;
   }
}
.product-item {
    border: 1px solid #e1e1e1;
    cursor: pointer;
    max-width: 300px;
    transition: 0.2s;
    width: 100%;
    background-color: 
    #24242c;
    border-radius: 20px;
    margin: 40px 40px 40px 40px;

}
.product-item .product-link {
    color: #555;
    text-decoration: none;
}
.product-item .product-info {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

}
.product-item .product-info .tag-procent {
    background: #f00;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-item .product-info-img {
    height: 180px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.product-item .product-info-img img {
    max-width: 200px;
}
.product-item .product-info-description {
    margin-left: 15px;
    margin-right: 15px;
}
.product-item .product-info-description .title {
    font-size: 16px;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
}
.product-item .product-info-description .description {
    height: 35px;
    margin: 3px 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: #fff;
    font-size: 12.5px;
}

.product-item .product-info-description .description:hover {
    height: 120px;
    margin: 3px 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.product-item .price-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.product-item .price del {
    color: #ccc;
    font-size: 14px;
    margin-right: 10px;
}
.product-item .price ins {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.product-item .price .price-info {
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin-top: px;
}
.product-item .star-ranking {
    display: flex;
    margin-top: 10px;
}
.product-item .star-ranking img {
    max-width: 15px;
}
.product-item .star-ranking .qtd-votes {
    color: #ffffff;
    font-size: 12px;
    margin-left: 10px;
}
.product-item:hover {
    transform: translateY(-2px);
    box-shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
}
.btn-buy {
    background: #ffffff;
    border: 0;
    color: #000000;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.2s;
}
.btn-buy .fas {
    margin-left: 3px;
}
.btn-buy:hover {
    filter: invert(100%);
}
.d-block {
    display: block;
}
