*:root{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Sora&display=swap');

nav{
    font-size: 1.6rem;
}

main{
    max-width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.paragraphs{
    font-size: 2rem;
    line-height: 3rem;
    background-color: #23232E;
    color: white;
    padding: 3rem;
    border-radius: 2rem ;
    margin-bottom: 8rem;
}

.paragraphs p{
    margin-bottom: 2rem;
}